.card {
    margin: 30px 48px 0px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 565px;
}

.added-to-cart {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #69707D;
    font-size: 23px;
    width: 300px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition:  0.8s ease-in-out;
    z-index: 999999999;
}

.added-to-cart.active {
    opacity: 1;
    visibility: visible !important;
}

.card .card-right,
.card .card-left {
    width: 445px;
}

.slider {
    display: none;
    position: relative;
}

.slider button {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

button.plus {
    right: 0 !important;
}

button.minus {
    left: 0;
}

.slider img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.selected-image-container {
    width: 445px;
    height: 445px;
    overflow: hidden;
    border-radius: 15px;
}

.selected-img {
    width: 445px;
    height: 445px;
    border-radius: 15px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.selected-img:hover {
    transform: scale(1.2);
}

.thumbnail-imgs {
    display: flex;
    align-items: center;
    margin-top: 32px;
    height: 88px;
    width: 100%;
    gap: 31px;
    cursor: pointer;
}

.thumbnail-imgs img {
    width: 88px;
    height: 88px;
    border-radius: 10px;
    object-fit: cover;
}

.thumbnail-imgs img.selected {
    border: 2px solid #FF7E1B;
}

.card-right {
    height: 426px;
}

h5 {
    line-height: 100%;
    margin-bottom: 1px;
    list-style-position: outside;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF7E1B;
    margin-bottom: 27px;
}

h1 {
    font-size: 44px;
    line-height: 48px;
    letter-spacing: 0px;
    margin-bottom: 16px;
}

.card-right .rating {
    margin-bottom: 16px;
    font-size: 15px;
    color: #69707D;
}

.card-right i.fa-star {
    color: #d3d3d3;
    font-size: 23px;
}

.card-right i.fa-star.filled {
    color: #f39c12;
}

p.description {
    color: #69707D;
    margin-bottom: 24px;
    line-height: 25px;
}

.price {
    width: 173px;
    height: 68px;
}

.current-and-discount-percent {
    display: flex;
    justify-content: space-between;
    width: 173px;
}

h2 {
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0px;
}

span {
    background-color: #FFEEE2;
    padding: 7px 8px 4px 8px;
    color: #FF7E1B;
    border-radius: 6px;
}

h3 {
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
    letter-spacing: 0px;
    text-decoration: line-through;
    color: #B6BCC8;
}

.buttons {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 32px;
    height: 56px;
}

.plus-minus-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 157px;
    height: 56px;
    border-radius: 10px;
    background-color: #F6F8FD;
    padding: 0px 22px;
    visibility: hidden;
    position: absolute;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.plus-minus-btns.active {
    opacity: 1;
    visibility: visible;
}

.plus-minus-btns button {
    background-color: transparent;
    width: 12px;
    height: 12px;
    border: none;
    cursor: pointer;
}

.plus-minus-btns i {
    color: #FF7E1B;
    font-weight: bolder;
}

.plus-minus-btns i:hover {
    color: #FFAB6A;
}

.plus-minus-btns p {
    color: #1D2026;
}

.add-to-cart {
    width: 100%;
    height: 56px;
    border-radius: 10px;
    background-color: #FF7E1B;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 0;
    transition: width 0.4s ease-in-out, background-color 0.4s ease-in-out;
    box-shadow: 0px 5px 20px 0.5px #FF7E1B;
}

.add-to-cart:hover {
    background-color: #FFAB6A;
}

.add-to-cart.active {
    width: 272px;
    right: 0;
}

.add-to-cart i {
    margin-right: 16px;
}

.fullscreen {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.fullscreen.active {
    display: flex;
}

.full-screen-images {
    width: 550px;
    height: 722px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.full-screen-images i.fa-xmark {
    margin: 15px 0px;
    color: white;
    margin-left: auto;
    font-size: 25px;
    cursor: pointer;
}

.slide-fullscreen {
    width: 550px;
    height: 550px;
    object-fit: cover;
    border-radius: 15px;
}

.full-screen-images button {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.full-screen-images button.minus-fullscreen {
    left: -20px;
}

.full-screen-images button.plus-fullscreen {
    right: -20px;
}

.thumbnail-imgs-fullscreen {
    display: flex;
    width: 445px;
    height: 88px;
    gap: 31px;
    margin-top: 20px;
}

.thumbnail-imgs-fullscreen img {
    width: 88px;
    height: 88px;
    object-fit: cover;
    border-radius: 10px;
}


@media (max-width: 500px) {
    .card {
        flex-direction: column;
        margin: 6px 0px 0px 0px;
    }

    .card-left,
    .card-right {
        width: 100% !important;
    }

    .slider {
        display: block;
    }

    .thumbnail-imgs,
    .selected-image-container {
        display: none;
    }

    .card-right {
        padding: 24px;
    }

    .card-right h1 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 15px;
    }

    .price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .current-and-discount-percent {
        gap: 16px;
        display: flex;
        justify-content: flex-start;
    }

    .buttons {
        flex-direction: column;
        height: 112px;
        margin-top: 24px;
        gap: 16px;
    }

    .plus-minus-btns,
    .add-to-cart {
        visibility: visible !important;
        position: relative;
        width: 100%;
        height: 56px;
    }

    .add-to-cart.active {
        width: 100%;
    }

    .add-to-cart:hover {
        background-color: #FF7E1B;
    }

    .plus-minus-btns:hover {
        color: #FF7E1B;
    }

    .selected-img:hover {
        transform: none;
    }

    .thumbnail-imgs img:hover {
        border: none;
        opacity: 1;
        cursor: default;
    }
}

@media (max-width: 900px) {
    .card {
        flex-direction: column;
        height: fit-content;
    }
    
    .selected-img:hover {
        transform: none;
    }

    .thumbnail-imgs {
        margin-bottom: 20px;
    }

    .thumbnail-imgs img:hover {
        border: none;
        opacity: 1;
        cursor: default;
    }

    .add-to-cart:hover {
        background-color: #FF7E1B;
    }

    .plus-minus-btns:hover {
        color: #FF7E1B;
    }
}

@media (max-width: 1350px) {
    .card {
        margin: 20px 0;
    }
}